.myNav{
    height: 100%;
}
li{ 
    text-decoration: none;
    color: white;
    padding-bottom: 15px;
    
}
li:hover{
    color: #1eb980;
}
a{
    size: 300px;
}
h4{
    color: white;
}
.leftNav{
    float: left;
    color: white;
    padding-bottom: 0;
    padding-top: 25px;
}
.rightNav{
    float: right;
    padding-bottom: 0;
    padding-top: 25px;
    padding-left: 50px;
}
.glyphicon-menu-hamburger{
    font-size: 25px;
    padding-right: 5px;
}
.glyphicon-menu-hamburger:hover{
    color: #1eb980;
}
.glyphicon-user{
    color:white;
    font-size: 25px;
    padding-right: 10px;
}
.glyphicon-user:hover{
    color: #1eb980;
}
.glyphicon-bell{
    color: white;
    font-size: 25px;
    padding-right: 10px;
}
.glyphicon-bell:hover{
    color: #1eb980;
}
.glyphicon-search{
    color: white;
    font-size: 25px;
    padding-right: 10px;
}
.glyphicon-search:hover{
    color: #1eb980;
}
.glyphicon-log-out{
    color: white;
    font-size: 25px;
}
.glyphicon-log-out:hover{
    color: #1eb980;
}
input{
    width: 30%;
    padding-left: 5px;
}

.x{
    color: white;
    padding-left: 225px;
    font-size: 30px;
}
h1:hover{
    color: #1eb980;
}
nav{
    height: 100%;
}
.closeNav{
    transition: 0.2s;
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #343a40;
    overflow-x: hidden;
}
.openNav{
    overflow: auto;
    transition: 0.2s; 
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #343a40;
    border-right: solid #1eb980;
}
.openNav h2 {
    transition: 0.2s;
    padding-left: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #1eb980;
    display: block;
    transition: 0.1s;
}
.openNav li:hover {
    color: #1eb980;
}

.header{
    width:100%;
}
.myList{
    text-decoration: none;
    color: white;
}
.myListHeader{
    text-decoration: none;
    color: #1eb980;
}
.myList:hover{
    text-decoration: none;
    color: #1eb980;
}
.myListHeader:hover{
    text-decoration: none;
    color: #1eb980;
}